<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="engine" class="np.com.kcsajan.ioc.Bike"></bean> <bean id="engine" 
		class="np.com.kcsajan.ioc.Car"></bean> -->

	<bean id="engine" class="np.com.kcsajan.ioc.Airplane"></bean>

	<bean id="bike" class="np.com.kcsajan.ioc.Bike">
		<property name="model" value="yamaha"></property>
	</bean>
	
	<bean id="car" class="np.com.kcsajan.ioc.Car">
		<constructor-arg name="color" value="green"></constructor-arg>
	</bean>

</beans>